body {
    margin: 60px auto;
    width: 70%;
    line-height:150%;
}

h1 {
    font-size: 14px;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #333;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}

 a{  
 color: #4c61ab;
 text-decoration: none;
 transition:0.4s;
}

 a:hover{
    color: #000;
    text-decoration: none;
    transition:0.4s;
}

#title{
 font-size:14pt;
 font-family:'Helvetica', 'Arial', 'Sans-Serif';
 position:absolute;
 top:50px;
 left:50px;   
 padding:10px;
 margin-bottom:10px;   
}

#nav {
    position:fixed;
    top:0px;
    right:0px;
    height:100%;
    width:200px;
    background:#fff;
    padding:10px;
    text-align:center;
    z-index:1000;
}
.links{
    position:absolute;
    top:40%;
}

.links a {
        display:block;
        padding:10px;
        color:#666;
        font-size:11pt;
        text-transform:lowercase;
        font-weight:bold;
        text-align:left;
        border-left:3px solid #fff;
        margin-top:auto;
        margin-bottom:auto;
}

.links a:hover {
    color:#4c61ab;
    text-decoration:none;
    border-left:3px solid #4c61ab;
}
.links a:active {
    color:#000;
    text-decoration:none;
    border-left:3px solid #4c61ab;
}

#content{
 position:absolute;
 top:150px;   
 margin-left:auto;
 margin-right:auto;   
 margin-bottom:100px;
 width:600px;   
}
#content li{
 padding: 5px;   
}
#content img{
 display:block;
 align:center;
 margin:auto;
 max-width:300px;
}

.sbimg {
 position:absolute;   
 margin-left:420px;
}
.sbimg img{  
 display:inline-block;   
 max-width:250px;
}
.desc{
 position:absolute;   
 font-family:'Helvetica', 'Arial', 'Sans-Serif';
 font-size:10pt;
 width:400px;   
}
