body {
    background-color:#f6f6f6;
    line-height:200%;
}

h1 {
    font-size: 14px;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
p {
    line-height: 2em;
}


 a{  
 color: #4c61ab;
 text-decoration: none;
 transition:0.4s;
}

 a:hover{
    color: #000;
    text-decoration: none;
    transition:0.4s;
}


#topbar {
    position:fixed;
    top:0px;
    left:0px;
    width:100%;
    height:150px;
    background-color:#4c61ad;
    text-align:center;
    z-index:1000;
}

#links{
        position:absolute;
        right:50px;
}

#links a {
        display:inline-block;
        height:50px;
        padding:50px;
        color:#eee;
        letter-spacing:2px;
        font-family:'Arial'; 
        font-size:8pt;
        margin-right:5px;
        text-transform:uppercase;
        font-weight:bold;
        text-align:center;
        border-bottom:3px solid #4c61ad;
 }

#links a:hover {
    color:#fff;
    text-decoration:none;
    border-bottom:3px solid #fff;
}
#links a.active {
    color:#fff;
    text-decoration:none;
    border-bottom:3px solid #fff;
}

#links a.active-link {
    color:#fff;
    text-decoration:none;
    border-bottom:3px solid #fff;
}

#title{
 font-family: 'Arial';
 font-size:30pt;
 font-weight:bold;
 position:absolute;
 top:130px;
 left:10px;      
}

#content{
 position:absolute;
 top:200px;
 left:300px;  
 padding:50px;
 background:#fff;
 width:50%;  
 z-index:500;   
}
#content li{
 padding: 5px;   
}
#content img{
 display:block;
 align:center;
 margin:auto;
 max-width:300px;
}

#sbimg {
 position:fixed;
 left:10px;
 top:200px;    
}
#sbimg img{  
 display:inline-block;   
 max-width:250px;
 z-index:200;   
}
.desc{
 font-family:'Helvetica', 'Arial', 'Sans-Serif';
 font-size:12pt;
}
