body {
    margin: 60px auto;
    width: 70%;
    line-height:115%;
}

h1 {
    font-size: 20px;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #333;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #999;
    transition:0.2s;
}
a:hover {
    text-decoration: underline;
    transition:0.2s;
}

#nav {
    position:fixed;
    top:20px;
    left:40%;
}

#nav a {
        display:inline-block;
        width:200px;
        padding:10px;
        background:#cbf1ff;
        text-transform:uppercase;
        color:#666;
        font-size:9px;
}

#nav a:hover {
    color:#cbf1ff;
    background:#666;
    text-decoration:none;
}

#math a{  
 color: #4c61ab;
 text-decoration:underline;  
}

#math a:hover{
    color: #cbf1ff;
    text-decoration: none;
}
.sbimg{
 position:absolute;
 top:100px;
 left:60px;   
}
img{
 max-width:200px;   
}

.desc{
 position:absolute;
 left:300px;
 top:100px;
 width:500px;
}

